
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(14, 16, 14, 0.84);
  margin: 0;

}


body {
  margin: -5.8vw 0 0 0;
  background-color: RGB(210,218,210);
  max-width:100vw;
  min-height: 100vh;
  color: rgba(14, 16, 14, 0.84);
  box-sizing: border-box;
}

span::after {
  padding-left: 10px;
}

input:invalid + span::after {
  content: "✖";
  color: firebrick;
}

input:valid + span::after {
  content: "✓";
  color:#0078A8;
}
.leaflet-routing-remove-waypoint:after{
  position: relative !important;
padding:0 !important;
  color: #0078A8 !important;
  background: transparent !important;
}
.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
  position: relative!important;
  left: 4px !important;
  top: 4px!important;
  display: block!important;
  width: 26px!important;
  height: 23px!important;
  }
.leaflet-routing-collapse-btn {
  position: absolute!important;
  top: 0!important;
  right: 6px!important;
  font-size: 24px!important;
  color: #ccc!important;
  font-weight: bold!important;
}