
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(14, 16, 14, 0.84);
  margin: 0;
  text-align: center;
}


body {
  margin: 0;
  background-color: RGB(210,218,210);
  max-width:100vw;
  min-height: 100vh;
  box-sizing: border-box;
}


